.sidebar_container{
    width:140px;
    height: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    transition: width 0.3s ease;
    z-index: 1;
}
.sidebar_container.collapsed {
    width: 60px; 
}
.sidebar_header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
}
.menu{
    width: 30px;
    height: auto;
    cursor: pointer;
}
.logo{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}
.logoImg{
    margin-top: 15px;
    width:50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.name{
    color: white;
    text-decoration: none;
}